* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.616), rgba(0, 0, 0, .616)), url(bckgrnd.jpeg);
    background-size: fixed;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    padding: 0 5px;
}

.logo {
    width: 140px;
    cursor: pointer;
}

.navbar ul li ::after {
    content: '';
    height: 3px;
    width: 0;
    background: #e69f35d0;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover ::after {
    width: 100%;
}
.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 800;
    color: #f55004;
}

.contact .content p {
    font-weight: 300;
    color: #ffffff;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #faa405b9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.contactInfo .box .text h3 {
    color: #ff6600;
    font-weight: 500;
    font-size: 18px;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #ebe9e7b7;
    border-radius: 15px;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: .5s;
    color: #0a0702;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #ff6600;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #faa405ec;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
    border-radius: 5px;
    outline: none;
}

@media (max-width: 991px) { 
    .contact {
        padding: 50px 20px;
    }

    .container {
        flex-direction: column;
    }

    .contactInfo,
    .contactForm {
        width: 100%;
    }

    .contactInfo .box .icon {
        min-width: 50px;
        min-height: 50px;
        font-size: 20px;
    }

    .contactForm h2 {
        font-size: 24px;
    } 
    
}