* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( rgba(0,0,0,0.7), rgba(0,0,0,0.9)), url(bckgrnd.jpeg);
    background-size: auto;
    scroll-behavior: auto;
    background-size: fixed;
    background-position: center;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    transition: 0.5s;
    
}

.logo {
    width: 140px;
    cursor: pointer;
}

.navbar ul li ::after {
    content: '';
    height: 3px;
    width: 0;
    background: #e69f35d0;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover ::after {
    width: 100%;
}

.offer-tag {
    position: absolute;
    top: 89%;
    left: 100%; /* Start off-screen */
    transform: translate(-100%, -50%);
    background-color: #ff8800;
    color: #333;
    padding: 10px 20px;
    font-size: 18px;
    white-space: nowrap;
    animation: moveOffer 10s linear infinite;
}

@keyframes moveOffer {
    0% {
        left: 100%;
    }
    100% {
        left: -100%; /* Move completely off-screen */
    }
}

.wrapper {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.card {
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}

.cord:hover {
    transform: translateY(20px);
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    background: linear-gradient(to bottom, #ff88003b, #ff880034);
    z-index: 1;
    opacity: 0.8;
    transition: 0.5s all;
}

.card:hover::before {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card .info {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.card .info h1 {
    margin: 0;
}

.card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
    color: #ff0000;
    font-weight: bold;
}

.card .info .btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #ffffff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.card .info .btn:hover {
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    color: #ff8800;
}