* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(bckgrnd.jpeg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo  {
    width: 150px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
/*
.navbar ul li ::after {
    content: "";
    height: 3px;
    width: 0;
    background: #e69f35d0;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li :hover ::after {
    width: 100%;
}
*/

/* Footer contents */
footer {
    width: 100%;
    background: #000;
    padding: 50px 0;
    text-align: center;
    position: sticky;
}

footer p {
    color: #fff;
    font-size: 14px;
}

footer h2 {
    color: #fff;
    margin-bottom: 20px;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

footer ul li a:hover {
    color: #e69f35d0;
}

.footer-bottom {
    padding-top: 10px;
    background: #302828be;
    color: #fff;
}